*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --textgrey: #808184;
    --grey1: #dfe4e9;
    --grey2: #f0f1f4;
    --grey3: #F8F8FA;
    --black1: #000000;
    --white1: #ffffff;
  }
  .canvas-area{
    background-color: #f4f5f8;
    overflow-x: scroll;
    width: 100%;
    height: calc(100vh - 68px);
    padding: 20px;
  }